/* 
* Provider dependency injections
* It uses component entry names defined in the SORCER provider
* as defined by sorcer.core.provider.SorcerProvider.
*/
import java.util.logging.*;
import net.jini.jrmp.*;
import net.jini.jeri.*;
import net.jini.jeri.tcp.*;
import sorcer.core.*;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;
import sorcer.core.provider.*;
import sorcer.trigo.provider.*;

sorcer.core.provider.ServiceProvider {
		name="SinProvider";
		publishedInterfaces = new Class[] { sorcer.trigo.provider.Sin.class };
		description = "Example of a SORCER JERI provider";
		location = "SORCER Lab 20B - CS TTU";
        // if not declared the default exporter is BasicJeriExporter
        //exporter = new JrmpExporter(0);
        exporter = new BasicJeriExporter(TcpServerEndpoint.getInstance(0), new BasicILFactory());
}
	



